<form (submit)="login()">
  <div class="card mb-2">
    <h1 class="card-header">Login</h1>
    <div class="card-body">
  <div class="row m-2">
    <label class="col-sm-2 col-form-label" for="numero2">Usuario</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="username" placeholder="Introduce tu usuario..." [(ngModel)]="usuario.username">
    </div>
  </div>
  <div class="row m-2">
    <label class="col-sm-2 col-form-label" for="numero2">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" name="password" placeholder="Introduce tu password" [(ngModel)]="usuario.password">
    </div>
  </div>
</div>
  <div class="card-footer text-center">
    <button type="submit" class="btn btn-success">Iniciar sesión</button>
  </div>
  </div>
  </form>
