<div class="card border-primary mb-3">
  <div class="card-header">
    Clientes
  </div>
  <div class="card-body text-primary">
  <h4>
    Listado de clientes
  </h4>
  <div class="my-2 text-left">
    <button
    class="btn btn-rounded btn-primary"
    type="button"
    [routerLink]="['/clientes/crear']">
    Nuevo cliente
  </button>
  </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Fecha</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes; let i = index">
      <th scope="row">{{cliente.id}}</th>
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.apellido}}</td>
      <td>{{cliente.email}}</td>
      <td>{{cliente.telefono}}</td>
      <td>{{cliente.createdAt | date:'dd/MM/yyyy'}}</td>
      <td>
        <button type="button" class="btn btn-primary m-1" [routerLink]="['/clientes/ver',cliente.id]"><i class="bi bi-search"></i></button>
        <button class="btn btn-danger m-1" (click)="eliminarCliente(i)"><i class="bi bi-trash"></i></button>
        <button type="button" class="btn btn-success m-1" [routerLink]="['/clientes/crear']"><i class="bi bi-pencil"></i></button>
      </td>

    </tr>


  </tbody>
</table>
